language: php

php:
  - 5.5

before_script:
    - composer self-update
    - composer install
    - npm install
    - bundle install --deployment

script: phpunit --coverage-clover=coverage.clover

after_success:
    - wget https://scrutinizer-ci.com/ocular.phar
    - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
